<% provide(:title, "About") %>
    <h1>About</h1>
    <p>
    	This Application will measure your mood through the day.  So you can spam a button to your hearts content.  Hopefully this gets me an internship because the stress of being unemployed is REALLY getting to me LOL.  I do appreciate the chance ObjectEdge is giving me though.
    </p>