<% provide(:title, "Help") %>
    <h1>Help</h1>
    <p>
    I probably can't help you yet since I can't really help myself but hopefully if you give me a few hours something useful will happen.
    </p>