<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
      <h3> I GOT <%= @user.feelings.count %> FEELZ</h3>
    </section>
  </aside>
  </div>